*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --bg-color: red;
  --font-size: 16px;
  --font-family: 'Lato', sans-serif;
}

body{
  font-family: var(--font-family);
  font-size: 16px;
}

a{
  text-decoration: none;
}
img{
  width: 200x;
  height: 200px;
}

.container{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  background-color: skyblue;
}

.container_title{
  display: flex;
  flex-direction: column;
}

.container_button{
  display: flex;
  justify-content: center;
}

.title_info{
  font-style: italic;
}

.container_forms{
  display: flex;
  justify-content: space-evenly;
  background-color: aqua;
}

.container_info{
  display: flex;
  width: 100%;
  background-color: red;
}


.input{
  border: 0;
  padding: 0.3em;
  border-radius: 5px;
}

.container_input{
  display: flex;
  justify-content: space-between;
  background-color: red;
}

.button{
  border: 0;
  padding: 0.5em;
  border-radius: 10px;
}





.footer{
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: skyblue;
}

.fab{
  margin: 0 0.25rem;
}